.expert-controls {
    background-color: #ED4529;
    height: 100%;
    padding: 10px 10px;
    margin-top: 30px;
    padding-bottom: 20px;
    border-radius: 10px;
}

.expert-controls h1 {
    padding: 0 0;
    margin: 0 0;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    padding-bottom: 0px;
}

.expert-controls .btn-expert {
    font-size: 14px;
    height: 30px;
    max-height: 30px;
    line-height: 0px;
    margin-top: 20px;
    width: 150px;
    text-align: left;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
