<!-- MOBILE LAYOUT -->
<div class="itemdetail-mobile">

  <div class="col-lg-12 col-xs-12">
	<h1>{{ item.bdlitem.title|safe }}</h1>

    <img src="{{ item.bdlitem.picture_url_w600|safe }}" class="itemdetail-picture" alt="{{ item.bdlitem.title|safe }}">
  </div>

  <div class="col-lg-12 col-xs-12 itemdetail-left-block">

    {% if item.bdlitem.short_description == item.bdlitem.description %}
    <h2 id="item-description-mobile" class="item-description">{{ item.bdlitem.description|safe }}</h2>
    {% else %}
    <h2 id="item-full-description-mobile" style="display: none">{{ item.bdlitem.description|safe }}</h2>
    <h2 id="item-description-mobile" class="item-description">{{ item.bdlitem.short_description|safe }} <button onclick="click_see_more('{{ item.item_id|safe }}', '{{ item.url|safe }}')" class="btn-see-more">{{ read_more_label|safe }}...</button></h2>
    {% endif %}

    <div class="text-center">
      {% if item.bdlitem.has_ended %}
      <button type="button" class="btn-item btn btn-primary btn-lg btn-sold no-highlight" onclick="false;">{{ label_sold_button|safe }}</button>
      {% else %}

      {% if item.source == 'FACEBOOK' %}
      <button type="button" class="btn-item btn btn-primary btn-lg btn-facebook no-highlight" onclick="click_buy_button('{{ item.item_id|safe }}', '{{ item.native_url|safe }}', '{{ item.source|safe }}', '{{ item.source_details|safe }}')">{{ label_buy_button|safe }}</button>
      {% elif item.source == 'BLOCKET' %}
      <button type="button" class="btn-item btn btn-primary btn-lg btn-blocket no-highlight" onclick="click_buy_button('{{ item.item_id|safe }}', '{{ item.native_url|safe }}', '{{ item.source|safe }}', '{{ item.source_details|safe }}')">{{ label_buy_button|safe }}</button>
      {% elif item.source == 'TRADERA' %}
      <button type="button" class="btn-item btn btn-primary btn-lg btn-tradera no-highlight" onclick="click_buy_button('{{ item.item_id|safe }}', '{{ item.native_url|safe }}', '{{ item.source|safe }}', '{{ item.source_details|safe }}')">{{ label_buy_button|safe }}</button>
      {% endif %}
      {% endif %}
    </div>

    {% include 'market2/itemdetail-controls.html' %}

  </div>

  <div class="col-sm-12 col-xs-12 bullet-points">
    <div class="bullet-point">
      <a href="{{ url_bullet_sell|safe }}"
         onclick="click_sell_info_button('{{ item.item_id|safe }}', '{{ item.native_url|safe }}', '{{ item.source|safe }}', '{{ item.source_details|safe }}', '{{ url_bullet_sell|safe }}')">
        <div class="bullet-point-icon">
          <svg class="icon-plus"><use xlink:href="#plus-icon"></use></svg>
        </div>
        <div>
          <span>{{ label_bullet_sell|safe }}</span>
        </div>
        <div class="right-arrow">
          <svg><use xlink:href="#right-arrow"></use></svg>
        </div>
      </a>
    </div>
    <hr>
    <div class="bullet-point">
      <div class="bullet-point-icon">
        <svg class="icon-heart"><use xlink:href="#heart-hollow-icon"></use></svg>
      </div>
      <div>
        <span>{{ label_bullet_see_more|safe }}</span>
      </div>
    </div>

  </div>
</div>

<!--
  <div id="share-button-container">
    <div class="share-buttons-div">
      <div id="popup-a2a" class="a2a_kit a2a_kit_size_32 a2a_default_style share-buttons" data-a2a-url="{{ item.url|safe }}" data-a2a-title="{{ item.title|safe }}">
        <a class="a2a_button_facebook"></a>
        <a class="a2a_button_twitter"></a>
        <a class="a2a_button_email"></a>
        <a class="a2a_button_google_plus"></a>
        <a class="a2a_dd" href="https://www.addtoany.com/share" rel="nofollow"></a>
      </div>
      <script>
        var a2a_config = a2a_config || {};
        a2a_config.icon_color = "#8997A1";
      </script>
    </div>
  </div>
-->
