{% if show_expert_controls %}
<div class="row">
  <div class="col-lg-10 col-sm-12 col-xs-12">
    <div class="expert-controls">
      <h1>{{ label_expert_only|safe }}:</h1>

      {% if not cert_id %}
      <div class="row">
        <div class="col-lg-6 col-xs-6 text-left">
          <div class="">
            <button type="button" class="btn btn-default btn-lg btn-expert no-highlight" onclick="click_like_button('{{ item.uid|safe }}', '{{ item.origin_url|safe }}', '{{ item.source|safe }}', '{{ user_id|safe }}')">
              <span>&#9829; Like</span>
            </button>
          </div>
        </div>
        <div class="col-lg-6 col-xs-6 text-right">
          <div class="">
            <button type="button" class="btn btn-default btn-lg btn-expert no-highlight" onclick="click_delete_button('{{ item.uid|safe }}', '{{ item.origin_url|safe }}', '{{ item.source|safe }}', '{{ user_id|safe }}')">
              <span>&#128465; Delete</span>
            </button>
          </div>
        </div>
      </div>
      {% endif %}

      {% if not cert_id %}
      <div class="row">
        <div class="col-lg-6 col-xs-6 text-left">
          <div class="">
            <button type="button" class="btn btn-default btn-lg btn-expert no-highlight" onclick="click_contact_seller_button('{{ item.uid|safe }}', '{{ item.origin_url|safe }}', '{{ item.source|safe }}', '{{ user_id|safe }}')">
              <span>&#9993; Contact seller</span>
            </button>
          </div>
        </div>
      </div>
      {% endif %}

    </div>
  </div>
</div>
{% endif %}
