      <result class="result-picture grid-item hvr-grow" id="{{ item.item_id|safe }}" style="display: none; opacity: 0;">
        <a class="grid-link" onclick="return item_click('{{ item.item_id|safe }}', '{{ item.origin_url|safe }}', '{{ item_url_with_params|safe }}')" href="{{ item_url|safe }}">
          <div class="item-price {% if item_heart %}item-price-expert-likes{% endif %}">
            <h2 style="opacity: 0;"><span>{{ item.bdlitem.price|safe }} {{item.bdlitem.currency|safe }}</span></h2>
          </div>
          <img src="{{ item.bdlitem.picture_url_w200|safe }}" alt="{{ item.bdlitem.title|safe }}" class="item-picture"/>
          {% if item_heart %}
          <svg class="item-icon-likes"><use xlink:href="#heart-icon"></use></svg>
          {% endif %}
          <div class="item-title {% if item_heart %}item-title-expert-likes{% endif %}">
            <h2><span>{{ item.bdlitem.title | safe }}</span></h2>
          </div>
          <div class="item-buy">
          </div>
        </a>
      </result>
