/*
 *
 * MENU CSS
 *
 */

.menu2 {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    min-height: 55px;
    max-height: 55px;
    background-color: #FAFAFA;
    z-index: 130;

    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1),0 0 0 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.05);

}

.menu2 .icon-klue-div {
    display: block;
    position: absolute;
    margin-top: 10px;
    height: 30px;
    z-index: 120;
}

.menu2 .container, .menu2 .row {
    height: 42px;
}

.menu2 .item-hover {
    pointer-events: auto;
}

.menu2 .item-hover:hover, .menu2 .item-hover:active {
    opacity: 0.5;
    text-decoration: none;
}

.menu2 .sell-smtg {
    text-decoration: none;
    position: absolute;
    top: 17px;
    right: 200px;
    font-size: 12px;
    font-weight: 700;
}

.menu2 .sell-smtg:hover,
.menu2 .sell-smtg:active {
    opacity: 0.5;
    text-decoration: none;
}

@media screen and (max-width: 767px) {
    .menu2 .sell-smtg {
        right: 80px;
        top: 22px;
    }
}

.menu2 .btn-height {
    height: 32px;
    min-height: 32px;
    max-height: 32px;
}

.menu2 .btn-sell {
    display: block;
    margin-top: 10px;
    float: right;
    padding-top: 6px;
    padding-left: 12px;
    padding-right: 12px;
    text-decoration: none;
    color: initial;
    border-radius: 4px;
    border-color: #8997A1;
    border-width: 1px;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
}

@media screen and (max-width: 767px) {
    .menu2 .btn-sell {
        display: none;
    }
}

/* Klue logo */
.menu2 .icon-klue {
    pointer-events: auto;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    z-index: 120;
}

.menu2 .search-input {
    border: 0px solid #8997A1;
    border-radius: 4px;
    outline: none;
    background: #FFFFFF;
    padding: 0px 10px;
    z-index: 2;
    font-family: inherit;
    font-size: 14px;
    box-shadow: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
}

.menu2 .input-group-btn {
    height: 30px;
}

.menu2 .btn-search {
    width: 40px;
    background-color: #FFFFFF;
    text-decoration: none;
    border: 0px solid #8997A1;
    color: #8997A1;
    border-radius: 4px;
}

.menu2 .btn-search-desktop {
    display: block;
    margin-right: 0px;
}

.menu2 .input-group-sm>.input-group-btn>.btn {
    height: 26px;
    width: 50px;
}

.menu2 .btn-search-mobile {
    display: none;
}

.menu2 .btn-icon-glass {
    position: absolute;
    top: 4px;
    left: 22px;
    width: 20px;
    height: 20px;
    fill: #141D26;
    z-index: 130;
    pointer-events: none;
}

.menu2 .btn-icon-glass-mobile {
    display: none;
}

@media screen and (min-width: 768px) {
    .menu2 .search-input-div {
        position: absolute;
        top: 10px;
        left: 120px;
        max-width: 300px;
        padding-bottom: 28px;
        border: 1px solid #8997A1;
        border-radius: 4px;
        padding: 0 0;
        max-height: 32px;
    }
}

@media screen and (min-width: 1000px) {
    .menu2 .search-input-div {
        left: 120px;
    }
}

@media screen and (max-width: 767px) {

    .menu2 .btn-search-desktop {
        display: none;
    }

    .menu2 .btn-search-mobile {
        display: block;
        background-color: #FAFAFA;
    }

    .menu2 .btn-search {
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        width: 40px;
        height: 30px;
        padding: 0;
        margin: 0;
        border: 0;
        z-index: 130;
        cursor: pointer;
    }

    .menu2 .btn-icon-glass {
        display: none;
    }
    .menu2 .btn-icon-glass-mobile {
        position: absolute;
        display: block;
        top: 3px;
        right: 8px;
        width: 25px;
        height: 25px;
        z-index: 130;
    }

    .menu2 .btn-icon-glass-mobile svg {
        z-index: 130;
    }

    .menu2 .search-input-div {
        position: relative;
        margin-top: 10px;
        min-width: 40px;
        float: right;
        border: 0;
        padding: 0 0;
        height: 30px;
        margin-left: 110px;
        width: 0%;
        overflow: hidden;
    }

    .menu2 .search-input {
        display: none;
    }
}