
/* Class placing a div right under the menu*/
.under-menu {
}
@media (max-width: 767px) {
    .under-menu {
        margin-top: 15px;
    }
}


/*
 *
 * MENU CSS
 *
 */

#menu-nav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    min-height: 55px;
    max-height: 55px;
    background-color: #FFFFFF;
    z-index: 130;
}

.menu-item-hover {
    pointer-events: auto;
}

.menu-item-hover:hover, .menu-item-hover:active {
    opacity: 0.5;
    text-decoration: none;
}

/* Klue logo */
.menu-icon-klue {
    pointer-events: auto;
    display: block;
    position: absolute;
    margin-top: 10px;
    height: 30px;
    z-index: 120;
}

/* Looking glass icon on mobile layout */
.menu-icon-looking-glass {
    margin-top: 11px;
    margin-left: 108px;
    height: 29px;
}

@media screen and (min-width: 680px) {
    .menu-icon-looking-glass {
        display: none;
    }
}

/* Messenger icon */
.menu-icon-messenger {
    pointer-events: auto;
    position: absolute;
    margin-top: 10px;
    height: 35px;
    right: 15px;
    z-index: 120;
}

@media screen and (max-width: 680px) {
    .menu-icon-messenger {
        right: 65px;
    }
}


/* Toggle hamburger icon */
.menu-icon-toggle {
    position: absolute;
    margin-top: 12px;
    right: 15px;
    width: 23px;
    height: 30px;
    stroke-width: 3px;
    stroke: #536371;
    fill: #536371;
    z-index: 111;
}

@media screen and (min-width: 680px) {
    .menu-icon-toggle {
        display: none;
    }
}

.menu-nav-collapse.responsive menu-icon-toggle {
    position: absolute;
    right: 0;
    top: 0;
}

/* Link elements in menu */
.menu-nav-left {
    float: left;
    text-align: left;
    width: auto;
    margin-bottom: 0px;
}
.menu-nav-left a {
    padding-right: 15px;
}
.menu-nav-right {
    float: right;
    text-align: right;
    width: auto;
    margin-bottom: 0px;
}
.menu-nav-left a {
    padding-left: 15px;
}

@media screen and (max-width: 680px) {
    .menu-nav-left {
        float: center;
        text-align: center;
        width: 100%;
    }
    .menu-nav-right {
        float: center;
        text-align: center;
        width: 100%;
    }
}

.menu-nav-link {
    margin: 0;
    border: 0;
    font-size: 16px;
    color: #141D26;
    text-decoration: none;
    font-weight: 700;
    width: 100%;
    background: #FFFFFF;
}

@media screen and (max-width: 767px) {
    .menu-nav-link {
        font-size: 14px;
    }
}

.menu-nav-link:link {
    text-decoration: none;
}


@media screen and (max-width: 680px) {
    .menu-nav-link {
        padding: 0 0;
        font-size: 16px;
        float: center;
        min-height: 50px;
        width: 100%;
        background: #E7E7E7;
    }

    .menu-nav-link:hover,
    .menu-nav-link:focus {
        background: #ED4529;
        outline: none;
        color: #FFFFFF;
    }

    .active .menu-nav-link {
        -webkit-font-smoothing: subpixel-antialiased;
        color: #FFFFFF;
        background: #ED4529;
    }
    .active .menu-nav-link:hover {
        text-decoration: none;
        background: #ca2d09
    }
    .active .menu-nav-link:focus {
        background: #ca2d09
    }

}

.menu-nav-collapse,
.menu-nav-collapse * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
.menu-nav-collapse {
    background-color: transparent;
    z-index: 310;
    position: relative;
    margin: 0;
    padding: 0;
    padding-left: 50px;
    padding-right: 130px;
    padding-top: 22px;
    list-style: none;
    width: 100%;
    float: left;
    height: 0px;
}
.menu-nav-collapse li {
    width: 100%;
    display: block;
}

.menu-nav-collapse ul {
    -webkit-padding-start: 40px;
    -moz-padding-start: 40px;
    -o-padding-start: 40px;
    -khtml-padding-start: 40px;
    padding-start: 40px;
}

@media screen and (min-width: 990px) {
    .menu-nav-collapse {
        padding-left: 50px;
    }
}

@media screen and (max-width: 680px) {
    .menu-nav-collapse li {
        display: none;
        min-height: 60px;
        font-size: 18px;
    }
    .menu-nav-collapse {
        background-color: #FFFFFF;
        position: absolute;
        margin-top: 50px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
    }
    .menu-nav-collapse ul {
        position: relative;
        display: inline-block;
        *display: block;
        *float: left;
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        margin: 0 0;
    }
}

@media screen and (min-width: 680px) {
    .menu-nav-collapse li {
        float: none;
        display: inline-block;
        *display: block;
        *float: left;
        width: auto;
    }
}

/* The responsive class is added when popdown links are shown */
.menu-nav-collapse.responsive {
    position: relative;
    padding-top: 17px;
    height: 100%;
}
.menu-nav-collapse.responsive li {
    display: inline-block;
}
.menu-nav-collapse.responsive .menu-nav-link {
    display: block;
    text-align: center;
    border-bottom: 1px solid white;
    font-size: 150%;
    padding-top: 5px;
}

/* Hide this menu link when screen not large enough */
@media screen and (max-width: 990px) {
    .menu-nav-collapse .menu-show-if-fits {
        display: none;
    }
}

@media screen and (min-width: 990px) {
    .menu-nav-collapse .menu-show-if-fits {
        display: inline-block;
    }
}
